.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    max-width: 500px;
  }
  
  .searchInput {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #4c00bd;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
  }
  
  .searchInput:focus {
    border-color: #d7d7d7;
    box-shadow: 0 0 5px rgba(140, 140, 140, 0.5);
  }
  
  .searchButton {
    padding: 10px 20px;
    background-color: #1b1b1b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .searchButton:hover {
    background-color: #3800b1;
  }
  